services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: orders
    ports:
      - "5432:5432"
    volumes:
      - ./docker-data/db:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10

  api:
    build:
      context: ../
      dockerfile: apps/api/Dockerfile
      target: development
    environment:
      PORT: 3001
      CORS_ORIGIN: http://localhost:3000
      DATABASE_URL: postgres://postgres:postgres@db:5432/orders
      NODE_ENV: development
    ports:
      - "3001:3001"
    volumes:
      - ../:/app

      - /app/node_modules
      - /app/apps/api/node_modules

      - /app/apps/api/dist
    depends_on:
      db:
        condition: service_healthy

  web:
    build:
      context: ../
      dockerfile: apps/web/Dockerfile
      target: development
    environment:
      NEXT_PUBLIC_API_URL: http://localhost:3001
      NODE_ENV: development
    ports:
      - "3000:3000"
    volumes:
      - ../:/app

      - /app/node_modules
      - /app/apps/web/node_modules
      - /app/apps/web/.next
    depends_on:
      - api
